[gcode_macro M900]
description: Set pressure advance
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K|default(0)}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K|default(0)}
    {% endif %}
  {% endif %}

# [gcode_macro G29]
# gcode:
#     BED_MESH_CLEAR
#     G28
#     BED_MESH_CALIBRATE
#     BED_MESH_PROFILE SAVE=name
#     SAVE_CONFIG
#     BED_MESH_PROFILE LOAD=name

[gcode_macro Bed_Mesh]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28                                                                     # home if not homed
    {% endif %}
    SAVE_GCODE_STATE NAME=G29_STATE
    {% if T|int > 30 %}
        M140 S{T}                                                               # set bed temperature
        M190 S{T}                                                               # wait for bed temperature
    {% endif %}
    BED_MESH_CALIBRATE
    G0 X10 Y10 F6000

[gcode_macro SHUTDOWN_MACHINE]
gcode:
    {action_call_remote_method("shutdown_machine")}
    
# Калибровка PID экструдера
[gcode_macro PID_E]
gcode:
  {% set T = params.T|default(255) %}
  PID_CALIBRATE HEATER=extruder TARGET={T}

# Калибровка PID стола
[gcode_macro PID_B]
gcode:
  {% set T = params.T|default(80) %}
  PID_CALIBRATE HEATER=heater_bed TARGET={T}

[gcode_macro M600]
description: Filament change macro
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    M118 Homing
    G28
  {% endif %}
  {% if printer.extruder.can_extrude == 0 %}
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z > (max_z - 20.0) %}
        {% set z_safe = max_z %}
    {% else %}
        {% set z_safe = (act_z + 20.0) %}
    {% endif %}
    G91
    G1 Z{z_safe}
    G90
    G1 X0 Y0 F2100
    M118 Acquiring temperature
    M109 S200
  {% endif %}  
  {% if printer.pause_resume.is_paused == 0 %}
    PAUSE
  {% endif %}
  M118 First UNLOAD, then LOAD new and RESUME when ready



  